
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    display: flex;
    flex-direction: column;
    font-family: Georgia, Tahoma, sans-serif;
    margin: 0; 
}

.header {
    align-items: center;
    background-color: green;
    display: flex;
    justify-content: space-between;  
}
    .site-name {
    padding-left: 2em;
}
    .navigation-list {
    display: flex;
    list-style: none;
    margin-right: 2em;
}
    .nav-link {
    padding-left: 1em;
}
.mid-section {
    display: flex;
}
    .main-content {
    width: 50%;
    order: 2;
    padding: 5px 5% 5% 5%;
}
    .sidebar {
    background-color: burlywood;
    justify-content: flex-start;
}
    img {
    width: 100%;
}
    .sidebar-title {
    text-align: center;
}
    .sidebar-left { 
    width: 25%;
    order: 1;
}
    .sidebar-right {
    width: 25%;
    order: 3;
}
.footer {
    align-items: center;
    background-color: brown;
    display: flex;
    justify-content: center;
    width: 100%;
}

